@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "/container.css";
@import "/input-box.css";
@import "/titulo.css";
@import "/remember-forgot.css";
@import "/register-link.css";
@import "/input-check.css";
@import "/button.css";
@import "/login-light.css";
@import "/toggle.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.link-deco {
    text-decoration: none;
    color: white;
}


